BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "leds[0]" SITE "A13" ;
IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "leds[1]" SITE "A12" ;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "leds[2]" SITE "B19" ;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "leds[3]" SITE "A18" ;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "leds[4]" SITE "B18" ;
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "leds[5]" SITE "C17" ;
IOBUF PORT "leds[5]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "leds[6]" SITE "A17" ;
IOBUF PORT "leds[6]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "leds[7]" SITE "B17" ;
IOBUF PORT "leds[7]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "reset_l_in" SITE "G2" ;
IOBUF PORT "reset_l_in" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk" SITE "A10" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ser_tx" SITE "D15" ;
IOBUF PORT "ser_tx" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ser_rx" SITE "B15" ;
IOBUF PORT "ser_rx" IO_TYPE=LVCMOS33 ;
