BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "leds[0]" SITE "A13" ;
IOBUF PORT "leds[0]" IO_TYPE=LVCMOS25 ;
LOCATE COMP "leds[1]" SITE "A12" ;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS25 ;
LOCATE COMP "leds[2]" SITE "B19" ;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS25 ;
LOCATE COMP "leds[3]" SITE "A18" ;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS25 ;
LOCATE COMP "leds[4]" SITE "B18" ;
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS25 ;
LOCATE COMP "leds[5]" SITE "C17" ;
IOBUF PORT "leds[5]" IO_TYPE=LVCMOS25 ;
LOCATE COMP "leds[6]" SITE "A17" ;
IOBUF PORT "leds[6]" IO_TYPE=LVCMOS25 ;
LOCATE COMP "leds[7]" SITE "B17" ;
IOBUF PORT "leds[7]" IO_TYPE=LVCMOS25 ;
LOCATE COMP "reset_l_in" SITE "G2" ;
IOBUF PORT "reset_l_in" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk" SITE "A10" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ser_tx" SITE "K4" ;
IOBUF PORT "ser_tx" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ser_rx" SITE "P1" ;
IOBUF PORT "ser_rx" IO_TYPE=LVCMOS33 ;
LOCATE COMP "flash_cs_l" SITE "R2" ;
IOBUF PORT "flash_cs_l" IO_TYPE=LVCMOS33 ;
LOCATE COMP "flash_d0" SITE "W2" ;
IOBUF PORT "flash_d0" IO_TYPE=LVCMOS33 ;
LOCATE COMP "flash_d1" SITE "V2" ;
IOBUF PORT "flash_d1" IO_TYPE=LVCMOS33 ;
LOCATE COMP "flash_d2" SITE "Y2" ;
IOBUF PORT "flash_d2" IO_TYPE=LVCMOS33 ;
LOCATE COMP "flash_d3" SITE "W1" ;
IOBUF PORT "flash_d3" IO_TYPE=LVCMOS33 ;
SYSCONFIG MASTER_SPI_PORT=DISABLE ;
